#root {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 0.8rem;
   main {
      flex-grow: 1;
   }
}

.chatroom {
   height: 100%;
   padding: 1rem;
   .space {
      margin: 0 auto;
      background: lighten(crimson, 50);
      max-width: 800px;
      height: 100%;
      border-radius: 10px;
      display: flex;
      align-items: stretch;

      .room-header {
         flex: 0 1 190px;
         border-right: 1px solid firebrick;
      }
      .room-space {
         flex-grow: 1;
      }
   }
}

@media screen and (max-width: 570px) {
   .chatroom {
      .space {
         .room-header {
            flex-basis: 0;
            border: none;
         }
      }
   }
}
