@import 'mixins.scss';

#root {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 0.8rem;
   main {
      flex-grow: 1;
   }
}

.chatroom {
   height: 90%;
   padding: 1rem;
   .space {
      box-shadow: $shadow;
      margin: 0 auto;
      background: lighten(crimson, 50);
      max-width: 800px;
      height: 100%;
      border-radius: 10px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      overflow: hidden;

      .room-header {
         width: 190px;
         border-right: 1px solid lighten($color: crimson, $amount: 30);
         display: grid;
         grid-template-rows: auto 1fr;
      }
      .room-space {
         display: grid;
         grid-template-rows: 1fr auto;

         .msg-space {
            overflow-y: auto;
            height: 424px;
         }

         .msg-form {
            background: lighten(crimson, 30);
            padding: 0.4rem;
            height: 40px;
            form {
               display: flex;
               height: 100%;
               align-items: center;
               justify-content: space-between;
               gap: 0.1rem;

               input {
                  height: 100%;

                  &[type='text'] {
                     flex-grow: 1;
                     background-color: lighten(crimson, 20);
                     padding: 0 0.5rem;
                     border-radius: 10px;
                  }
               }

               button {
                  height: 100%;
                  background-color: transparent;
                  color: darken($color: crimson, $amount: 10);
                  flex-basis: 50px;
                  font-size: 1.15rem;
                  padding: 0 0.5rem;
                  border-radius: 10px;

                  &:hover {
                     background-color: lighten(crimson, 20);
                  }

                  svg {
                     display: block;
                     margin: 0 auto;
                  }
               }
            }
         }
      }

      .top-space {
         height: 40px;
         grid-column: span 2;
         display: flex;
         align-items: center;
         background: lighten(crimson, 30);
         color: #fff;
         justify-content: center;
         gap: 10px;
         font-weight: 500;
         font-size: 1.2rem;
      }
   }
}

@media screen and (max-width: 570px) {
   .chatroom {
      .space {
         .room-header {
            flex-basis: 0;
            border: none;
         }
      }
   }
}
