@import '../node_modules/bootstrap/scss/functions';

$primary: #004346ff;
$secondary: #74b3ceff;
$danger: #fe5f55;
$warning: #ffc971;
$dark: shade-color(#172a3aff, 40);
$light: tint-color(#09bc8aff, 80);
$body-bg: #f7fffe;

@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/bootstrap';

#root {
   height: 100vh;

   &.dark {
      background-image: linear-gradient(
         130deg,
         $dark 0%,
         $dark 42%,
         $light 42%,
         $light 49%,
         $dark 49%,
         $dark 100%
      );
   }
}
