@use "sass:math";
@import 'scss/functions';

$primary: #004346;
$secondary: #74b3ce;
$danger: #fe5f55;
$warning: #ffc971;
$success: rgb(139, 255, 93);
$dark: shade-color(#172a3a, 40);
$light: tint-color(#09bc8a, 80);
$body-bg: tint-color(#f7fffe, 30);
$font-main: 'Poppins', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$bg-1: url('https://unsplash.com/photos/mjC9apK53a8/download?force=true&w=1920');
$bg-2: url('https://unsplash.com/photos/BtbjCFUvBXs/download?force=true&w=1920');

$fonts: (
   main: $font-main,
   secondary: $font-secondary,
);
$themes: (
   'primary': $primary,
   'secondary': $secondary,
   'danger': $danger,
   'warning': $warning,
   'light': $light,
   'dark': $dark,
   'success': $success,
);

@import 'scss/login';
@import 'scss/app';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

   &::after,
   &::before {
      box-sizing: border-box;
   }

   &:focus {
      outline: none;
   }

   transition: outline 0.3s;
   scrollbar-width: thin;
   scrollbar-color: lightgray transparent;

   &::-webkit-scrollbar {
      appearance: none;
   }

   &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }
}

body {
   font-family: $font-main;
}

#root {
   height: 100vh;
}

input {
   padding: 10px;
   border: 2px solid $dark;
   border-radius: 5px;

   &:focus {
      box-shadow: 0 0 0 3px $secondary;
      border: 2px solid transparentize($dark, 0.3);
   }

   &::placeholder {
      font-size: 1rem;
   }
   transition: 0.2s;
}

a {
   text-decoration: none;
   display: block;
   color: $dark;
}

button {
   background: transparent;
   padding: 5px 10px;
   border: none;
   cursor: pointer;
   transition: 0.2s;

   &:hover {
      filter: brightness(107%);
   }
}

@each $name, $val in $themes {
   .btn-#{$name} {
      background: $val;
      @if isLight($val) {
         color: $dark;
      } @else {
         color: #fefefe;
      }

      &:hover {
         background: tint-color($val, 10);
      }
   }

   .btn-outline-#{$name} {
      border: 2px solid $val;

      &:hover {
         background: $val;
         @if isLight($val) {
            color: $dark;
         } @else {
            color: #fefefe;
         }
      }
   }

   .btn-group-#{$name} {
      button {
         background: $val;
         @if isLight($val) {
            color: $dark;
         } @else {
            color: #fefefe;
         }
      }
   }

   .text-#{$name} {
      color: $val;
   }

   .bg-#{$name} {
      background: $val;
      @if isLight($val) {
         color: $dark;
      } @else {
         color: #fefefe;
      }
   }
}

@each $name, $val in $fonts {
   .font-#{$name} {
      font-family: $val;
   }
}

@for $num from 1 to 7 {
   .fs-#{$num} {
      font-size: 4rem * math.div($num, 6.5);
   }
}

@for $num from 1 to 4 {
   .letter-#{$num} {
      letter-spacing: 1.5rem * math.div($num, 3);
   }
}
