@import 'mixins.scss';

$form-padding: 0.5rem 0.3rem;

.fixed_group {
   position: fixed;
   bottom: 0;
   right: 0;
}
.setUsernameForm {
   display: block;
   max-width: 500px;
   margin: 0 auto;
   z-index: -1;

   form {
      box-shadow: $shadow;
      display: grid;
      grid-template-columns: 1fr 100px;

      input {
         padding: $form-padding;

         &::placeholder {
            font-style: italic;
         }

         &:focus {
            background: aliceblue;
         }

         &[type='submit'],
         &[type='button'],
         &[type='reset'] {
            @include BGColor(crimson);
            cursor: pointer;
            font-weight: 600;

            &:disabled {
               cursor: default;
            }
         }
      }
   }
}
.form_error {
   padding: $form-padding;
   font-size: 0.7rem;
   @include BGColor(crimson);
   grid-column: span 2;
}
.Header {
   padding: 0.8rem 1rem;
   @include BGColor(crimson);
}

.Header_logo {
   font-size: 1.5rem;
   font-weight: 500;
   font-style: italic;
}

.Header_navbar {
   display: flex;
   gap: 10px;
   justify-content: space-between;
   align-items: center;
}
