@import 'mixins.scss';

.fixed_group {
   position: fixed;
   top: 0;
   right: 0;
}
.setUsernameForm {
   padding: 1rem;
   display: block;

   form {
      display: grid;
      grid-template-columns: 1fr 100px;
      box-shadow: 0 0 5px #999;

      input {
         padding: 0.5rem 0.3rem;

         &::placeholder {
            font-style: italic;
         }

         &:focus {
            background: aliceblue;
         }

         &[type='submit'],
         &[type='button'],
         &[type='reset'] {
            @include BGColor(crimson);
            cursor: pointer;
            font-weight: 600;

            &:disabled {
               cursor: default;
            }
         }
      }
   }
}
