.area-login-page {
   background-image: $bg-1;
   display: flex;
   flex-direction: column;
   height: 99%;
   justify-content: space-between;

   .page-buttons {
      padding: 5px;
      align-self: flex-end;
      display: flex;
      gap: 10px;
   }

   .logo {
      margin-bottom: 10px;

      .highlight {
         color: $secondary;
      }
   }

   .main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 0 auto;

      form {
         display: flex;
         flex-direction: column;
         gap: 10px;

         input {
            width: 100%;
            margin-top: 10px;
         }

         .buttons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            button {
               border-radius: 5px;
               padding: 10px;
            }
         }
      }
   }
}
